Value Hardware (\S+.*)
Value Serial (\S+)

Start
  ^.*cisco\s+${Hardware}\s+.*
  ^.*Processor\s+board\s+ID\s+${Serial}
  ^.*System\s+serial\s+number\s*:\s*${Serial}
  ^.*\[°\s+${Hardware}\*\*\] -> Continue
  ^.*\[°\s+${Serial}'\s*\] -> Continue 